[2018-06-10 12:45] SteveALee opened #1 "Change licence to Attribution-ShareAlike 4.0 International CC BY-SA 4.0"
The newer [Attribution-ShareAlike 4.0 International CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/) is probably more appropriate now

[2018-06-19 17:53] SteveALee opened #2 "Krystal DNS only hosting doesn't let us redird domains"
We want straight-street.org to be the live site and the others (.com .uk .co.uk) to redirect to it.

[2018-06-19 17:53] SteveALee commented on #2
I raised a support ticket and has been done for us

[2018-06-19 17:53] #2 closed

[2018-07-05 17:26] SteveALee opened #3 "Work with Shay to merge cboard changes"
- [x] more symbols from mulberry in SVG format which weren’t converted from WMF
- [ ] renamed some symbols for better machine translation - mainly all lowercase + few reorder phrase
- [ ] also we translated mulberry into 32 languages
- [x] And i managed to compress the SVG (I think it saves around 10mb in total without losing quality)

https://github.com/cboard-org/cboard/tree/master/public/symbol

[2018-07-05 17:28] SteveALee commented on #3
Note the source format wit hthe adobe illustrator files but probably ALL got exported to WMF and not SVG. Wmf was such a bad format that most symbols needed manual editing of wmfs so don't know if this had been done or not for the extra symbols

[2018-08-06 16:05] SteveALee commented on #3
@shayc Can you provide more info on the 1st 2 points above? Thanks

[2018-08-10 14:43] rusnewman opened #5 "Fix incorrect filenames and missing symbols"
I've identified some consistency issues in the symbol set as a result of some tests involving this repo.

### Symbols listed in CSV with incorrect SVG filenames
Some SVG files appear to have names that are not consistent with those provided in the CSV file. Here's a list that was generated by one of my tests (i.e. it should be a complete list).

[code]
In some cases, the SVG should be renamed (e.g

[2018-08-10 15:06] SteveALee commented on #5
@rusnewman thank you very much for this. I've no idea how those errors sneaked in!

I'll make the updates asap.

Incidently we had some translations which I intend to add to the csv once I get hold of them again.

[2018-08-10 15:08] SteveALee commented on #5
Are your testing something that could easily be added to the repositry and added to the release process as a sanity check?

[2018-08-10 19:04] rusnewman commented on #5
Thanks Steve! I'm afraid the tests are specific to the application I'm working on, so not exactly transferrable.

Incidentally, I'm using the first column of the CSV as a unique identifier for each symbol. If a unique identifier disappears from the CSV, I would (currently) see this as an indication that the symbol has been deleted.

I can handle the data in this column changing as a result of this

[2018-08-10 19:04] rusnewman commented on #5
Thanks Steve! I'm afraid the tests are specific to the application I'm working on, so not exactly transferrable.

Incidentally, I'm using the first column of the CSV as a unique identifier for each symbol. If a unique identifier disappears from the CSV, I would (currently) see this as an indication that the symbol has been deleted.

I can handle the data in this column changing as a result of this

[2018-08-11 14:15] SteveALee commented on #5
never mind - I added a little test script. Seem quite a few files are missing

[2018-08-11 16:28] SteveALee commented on #5
All done.

* Added reconciliation test
* Corrected all symbols or filenames so they reconcile - file `receive_email_,_to` Still Missing
* Added Missing files to csv
* Added ID column symbols will always keep the same id even if renamed
* Add separate Finnish translation csv for future use.

[2018-08-11 16:28] #5 closed

[2018-08-11 16:29] SteveALee opened #6 "receive_email_,_to symbol.svg file is missing"
This file is in the CSV but is currently missing.

[2018-08-11 16:30] SteveALee opened #7 "Move Finnish symbol names into spread sheet"
See `FinnishSymbol Names.csv`.

Not all symbols are translated

[2018-08-11 16:31] SteveALee opened #8 "Add missing tags"
Not all symbols have tags

[2018-08-22 18:13] SteveALee opened #11 "Need a logo"
Why not use AAC or switch symbols

[2018-08-22 18:26] SteveALee opened #12 "Add script to create the categories PDF"
The current PDF is out of date. It was generated with PHP on the old server

[2018-08-22 20:38] shayc commented on #3
Made a PR (#13) that fixes missing symbols, these are the remaining symbols that I converted once from the WMF folder that was in the older project.

[2018-08-23 10:59] #6 closed

[2018-08-23 13:10] SteveALee commented on #3
Extra symbols now in ZIP. have to add categories - have made an issue just for that

[2018-08-23 13:11] SteveALee commented on #8
New symbols added do not have categories either

[2018-08-23 13:57] SteveALee commented on #11
How about one of these or a combination ?

![image](https://user-images.githubusercontent.com/618922/44529783-cdc82380-a6e4-11e8-95e4-777ee537171a.png)

[2018-08-23 14:11] SteveALee commented on #3
Going to leave renaming and translations for now - translations may be better looked after by Global Symbols project

[2018-08-23 14:12] #3 closed

[2018-08-23 14:14] SteveALee commented on #5
@rusnewman see release v3.2 for more symbols

[2018-08-24 15:13] SteveALee opened #15 "Remove the .zip from the repo"
I incorrectly added the zip and it's cluttering up the repo. It can be fully removed using the [usual shenanigans with BFG](https://help.github.com/articles/removing-sensitive-data-from-a-repository/)

[2019-01-03 21:06] #12 closed

[2019-01-03 21:23] SteveALee opened #17 "Concider adding the categories.html to the website"
Now we have merged #16 to generated the categories.pdf via an intermediate html file we can add the html to the website. Then visitors can view the categories without a download.

The only obvious downside is the file is 34MB, largely as SVGs are all inline.

[2019-01-03 21:28] SteveALee opened #18 "Add sample symbols to website"
The image with a few symbols on does not show in mobile screen sizes. It's not a good demonstration anyway.

Implementing #17 would help with this.

[2019-01-03 22:00] SteveALee opened #19 "Add Version info to categories.pdf"
To be better self documenting, the categories.pdf should include the version number.

[2019-01-04 19:08] gavinhenderson commented on #17
I am happy to help with this. Have you got any specific idea where you want this page added. Would you like it to be in the downloads section? Or presented in another way?

One way to solve the file size is obviously to split it into multiple HTML files per category but obviously that requires more work a d might not be worth it.

[2019-01-04 19:34] SteveALee commented on #17
@gavinhenderson Thanks very much for the offer of help.

Lets add a new ```The Symbols``` section before the ```Downloads``` section.  That can include a little text plus a few sample symbols (also addresses #18) and most importantly the link to the categories.html.

Then the bullet to download load the PDF can be tweeked.

The release process in te readme will also need to be updated to add "copy

[2019-01-04 19:38] SteveALee commented on #17
PS no need to split the file - just warn it's a big file next to the link.

[2019-01-04 21:23] gavinhenderson commented on #17
@SteveALee perfect, I'll submit a PR for this in the next few days

[2019-01-08 10:44] gavinhenderson commented on #17
Hey @SteveALee just a quick question (hope you dont mind) before I start just so my understanding is clear:

Are you wanting 'build:html' script added to the package.json? I see that this wouldn't require any code to be added just need to split the code so it can be run without the pdf generation?

[2019-01-08 13:02] gavinhenderson commented on #17
@SteveALee Sounds perfect, ill start working on the PR

[2019-01-10 11:33] gavinhenderson opened #21 "General Site Improvements"
There are a few minor issues with the site that need to be fix.

- [ ] There is no Gemfile in the docs folder. For local development it must be present (github uses the default if its not present)
- [ ] Jekyll generates a __site folder that it uses to serve the webpage. This should be in the gitignore.
- [ ] The webpage title is `Vision | ["Mulberry Symbols"]` rather than `Vision | Mulberry Symbol

[2019-01-11 21:25] #18 closed, assigned to nobody

[2019-01-11 21:40] SteveALee opened #22 "Adjust Catagories.html to better match site style"
Possibly also add a back link (but that must not appear on the PDF)

Also see #19 as version could appear on both HTML and PDF

[2019-01-12 12:08] SteveALee commented on #17
Fixed by #20

[2019-01-12 12:08] #17 closed

[2019-01-12 12:09] SteveALee commented on #21
I've not tried local building & test of the site but it makes sense to remove any barriers.

[2019-01-12 12:12] SteveALee opened #23 "Review sample symbols"
Are there specific symbols that show off Mulberry stengths and USP and so should be included in the samples on the home page?

Can any SALTs advise?

[2019-01-12 15:17] gavinhenderson opened #25 "Add a contents page to PDF and HTML page"
Add a linkable contents section to the PDF and HTML file that has all of the categories to ease navigation

[2019-01-19 00:02] #21 closed

[2019-01-19 08:44] SteveALee commented on #21
Thanks

[2019-01-20 19:06] gavinhenderson commented on #22
Im happy to work on this task? :)

[2019-02-07 14:46] SteveALee opened #27 "Finnish name translation is incomplete"
The [Finnish names](https://github.com/mulberrysymbols/mulberry-symbols/blob/master/FinnishSymbolNames.csv) are missing the latest symbols so new translations are needed.

See also #7

[2019-02-07 15:05] gavinhenderson commented on #22
@SteveALee PR #26 means this can be closed :+1:

[2019-02-07 15:12] SteveALee commented on #25
Yes I do like the idea. Especially if a multi column layout can be used to reduce depth. Looking at the Categories names only 2 columns would probably work.

As an asside, I just realised the HTML layout ideally should be responsive. That's another job thoughand probably not worth it as is so massive in it's current form.

[2019-02-07 15:20] SteveALee commented on #22
Thanks, I forgot to update the PR title.

[2019-02-07 15:20] #22 closed

[2019-02-12 12:31] SteveALee opened #28 "Alow fragment links to categories in categories.html"
Alow links to categories such as `https://mulberrysymbols.org/assets/categories/categories.html#transport-space`. Will obviously be slow links as v large file

* Add <a> tags with id to act as fragment anchor
* slugify category

[2019-02-12 12:33] SteveALee opened #29 "Add a few more examples to show case more unique symbols"
Add more examples to showcase features like nouns, jobs, flags etc

* Determine list
* add them

[2019-02-12 12:35] SteveALee opened #30 "Figure out how to work with GlobalSymbols"
The [GlobalSymbols](https://globalsymbols.com/) project has objectives like unifying and localising symbols across sets. We should figure out how to best work with them.

[2019-02-12 12:36] SteveALee commented on #27
I now have an more complete version fom Garry - need to add it to repo

[2019-02-12 12:38] SteveALee commented on #8
@eadraffan Is there an updated on the GLobalSymbols work here?

I also added issue #30 to track working with Global Symbols

[2019-02-12 13:00] SteveALee commented on #27
Turned out to be the same list but in Excel format

[2019-02-12 13:31] SteveALee opened #31 "Add interactive features to request and select symbols"
The original straight-street website which held the Mulberry symbols provided several interactive features for managing the symbols

* A process aimed mainly at Speech and Language Therapists to request and review new symbols.
* Users could select a subset symbols by browsing, tag or category and download as a zip
* A set of symbol translations and ability to select the users prefered language (na

[2019-02-12 13:35] SteveALee commented on #7
No need to as csv is good enough and now pdf and html are generated from it

[2019-02-12 13:35] #7 closed

[2019-02-12 13:35] SteveALee commented on #11
Why not the red person used as the 1st example on the site?

[2019-02-12 13:36] SteveALee commented on #29
duplicate of #23

[2019-02-12 13:36] #29 closed

[2019-02-12 13:37] SteveALee commented on #31
@gavinhenderson @eadraffan FYI

[2019-02-12 13:45] SteveALee opened #32 "New symbol requests"
What Symbols are missing? What do people want?

It would be wonderful to be able accept community contributions.

* I'm trying to locate the style guidelines created by the original developer
* The process used to be 2 step 1) draw outline (skilled) 2) colour (less skilled)

Eventually we'd like the website to provide an interactive process for this - see #31

[2019-02-12 14:02] mairin commented on #32
The color palette seems pretty consistent, we could probably derive a standard color palette based on what is there. Happy to put one together with a Inkscape palette file to make drawing them easier.

[2019-02-12 14:33] SteveALee commented on #32
@mairin That's would be wonderfull. I expect the chance of getting the original guidelines is minimal.

It makes sense that the palette is consistent, as for example, blue is used to represent verbs

[2019-02-12 20:34] gavinhenderson commented on #31
I feel like it might be useful to follow a similar model to [FontAwesome ](https://github.com/FortAwesome/Font-Awesome) when it comes to making these symbols available to developers for their innovate apps. I can go into more detail about how I see this working for us if that helps?

[2019-02-13 07:42] SteveALee commented on #31
Do tell! It's a mature package and is popular so they are probably doing somehting right.

Made me think a npm package is probably as useful as an REST API these days. Especially as buildtime resource acquisition often beats run time (eg static sites)

[2019-02-13 10:09] eadraffan commented on #31
Thanks so much and I am copying in Russell who has been linking up all the symbol sets. I need to understand the concept behind it all!!

Best wishes
E.A.
Sent from my mobile phone

On 13 Feb 2019, at 07:42, Steve Lee <notifications@github.com<mailto:notifications@github.com>> wrote:

Do tell! It's a mature package and is popular so they are probably doing somehting right.

Made me think a npm pac

[2019-02-13 11:00] gavinhenderson commented on #31
There would be 1 centralized symbols repo and its only concern is to add new symbols. Every time this repo is altered it would trigger releases of all of the distributions.

There would then be multiple distribution versions such as Vanilla JS, React, Vue, and many more. They would all come in their own git repo and be totally automated. You can then expand your distributions really easily and not

[2019-02-13 20:04] #28 closed

[2019-02-14 08:46] SteveALee opened #35 "Update release process to be automatable"
Currently the release process is manual and a bit messy

Currently the site and zip are entwined and especially coupled by the category files. This is not really clearly expressed in the release documentation.

Thus we need to decide on the candence for each and if they need to be separate or are always released together. For example

* Zip and category files should be tightly version controlled a

[2019-02-14 09:30] SteveALee opened #36 "How do people use symbols and so want to access them"
I feel we should be doing a requirements analysis here to best support user of the symbols. We currently just provide a big zip of SVG symbols which might suite developers but not others.

**Who are our users?**
* AAC developers - Add to their project - want local copy? API? The current implicit focus
* SALTs (SLPs) - less technical  - printing on boards or add to AAC tools.
* Carer/supporters? -

[2019-02-14 09:55] josephoconnor commented on #36
For #AAC systems search by keyword for individual symbols is vital. If I want to assign a symbol to a button or print it I must be able to search. We use printed symbols for picture schedules and the same symbols for corresponding buttons in software.

[2019-02-14 10:05] SteveALee commented on #36
@josephoconnor

So what would the user story be for you when interacting with mulberry directly to obtain symbols? I dont't mean finding Mulberry symbols already loaded in an AAC device as tha tis more a developers requirment for us.

How about:

**As a** supporter **I want to** search for Mulberry symbols that I later print or add to an AAC device so that I can enance the vocabulary of a user

We

[2019-02-14 12:50] gavinhenderson commented on #35
Personally I would prefer the whole thing to be automated, and shouldn't be too hard. Its ashame there is not Github Actions support for orgs yet as it would do the job great.

The build scripts are quite awkwardly tied right now. For example you cant create the pdf or html independently right now. If its alright I might do a bit of refactor of the scripts which should make it easier to automate.

[2019-02-14 12:56] SteveALee commented on #35
+1 to refactoring. I was thinking that recently. AiM for loose coupling.

I must try the actions. they would be ideal. Shame about orgs though.

Thanks.

[2019-02-14 14:19] gavinhenderson commented on #35
I am quite busy for the next week or two so it might take me a while to get round to it, but I will

Actually turns out you can get [actions for orgs!](https://github.com/features/actions/signup/). Just have to join the queue to get into the beta. Even if we never use it would be nice to have it as a options.

[2019-02-14 14:28] SteveALee commented on #35
Sure -it's low priority. Even though should have been done at the start (I cut corners as originally it was simple)

I have a beta but not tried it yet (on my list) - will see if can activate it for the org so you can test too.

[2019-02-14 15:44] josephoconnor commented on #36
Entire symbol libraries are loaded into #AAC devices to provide instant access. When we first took Siobhan to Ireland on the first morning we were having a full Irish and Siobhan asked for hot dog. We made a new button for sausage. No time to download.

[2019-02-14 15:50] josephoconnor commented on #36
As a supporter I will load the Mulberry library into the AAC device to provide instant access to all symbols.

[2019-02-14 16:00] gavinhenderson commented on #36
As an AAC Dev I would rather have a local copy that is in a managed `package`. Means I can use it locally but also not have to worry about a cumbersome update process if I want access to any newly added symbols. Even if I have all the symbols locally when i come to build my site every symbol I don't use will be tree shaken out so its not going to add weight to my build.

Although, on the flip side

[2019-02-14 17:56] SteveALee commented on #36
@josephoconnor thanks for the clarification - So you only really search for and use with the symbols directly in the AAC device? There's probably plenty of work to be done to allow a search to be effective accross a range of symbol sets. Hopefully OpenAAC might help, but most are proprietary and might not want to collaborate.

I guess you might want to be involved in new symbol requests and review

[2019-02-14 18:00] SteveALee commented on #36
@gavinhenderson Yes a npm package seems like a priority. node_modules are massively bloaty anyway so the full Mulberry symbol set will hardly be noticed :)

I'm not sure how tree shacking will work with the symbols. though it is fairly mature these days in key bundlers.

The npm module will need a few utility functions to provide easy access - so we'll still need to define an API! Just not RESTful

[2019-02-14 18:02] SteveALee commented on #36
@gavinhenderson I agree about rolling your own API. Since I created the original API, developing and hosting APIs has become almost trivial and low cost (free), eg with node serverless options.

[2019-02-14 18:12] SteveALee commented on #31
@gavinhenderson Do we actually need version for different frameworks? I'd like to avoid that if required as even if autmated it's complexity to manage. Would a plain Module of the right type (ES now?) not work almost everywhere Web front end now a days. We could perhaps provide sample wrappers. Needs more discussion.

[2019-02-16 21:46] gavinhenderson commented on #31
Yeah that is a good point. I think having simple wrappers for different frameworks does add value as it removes all work for the end developer. I think making the library super easy to use can really increase usage of the package.

That being said I agree with you it does add unnecessary complexity to the automation so they can be ignored for now and examples of how to use it in different framewor

[2019-02-19 17:35] gavinhenderson commented on #19
@SteveALee this can be closed now i think?

[2019-02-19 18:39] SteveALee commented on #19
Indeed - thank you. Sloppy admin!

[2019-02-19 18:39] #19 closed

[2019-02-21 18:18] SteveALee commented on #15
Had to do as as it required push access

[2019-02-21 18:18] #15 closed

[2019-03-15 09:42] SteveALee commented on #31
I just realised that now we have a web page of all the symbols you can individually download any symbols you like

* Open https://mulberrysymbols.org/assets/categories/categories.html - it's big so a slow download
* Right click on a symbol and select "Save Image" or equivalent depending on your web browser
* Change the filename from index.svg to whatever you want

It's not ideal as the symbols nam

[2019-03-15 13:13] SteveALee opened #40 "Resolve duplicate categories files"
The categories files are built into / but the live website uses those in /docs/assets.

Thus they need ot be manually plublished.

This needs to be resolved in conjunction with the release process

[2019-03-19 11:20] LarsRM opened #41 "Mulberry-Symbols - further developements and translation"
For a project for nonverbal people with aphasia we are looking for appropriate symbols for adults and found the Mulberry symbols via Internet search. We like the symbols (especially for this user group) and we would like to know if there are chances for further developements (more symbols and country related symbols) and translation into other languages (German in our case)?

[2019-03-19 12:26] SteveALee commented on #41
Thanks @LarsRM it's great to hear from you.

We are now exploring how to support new symbols. This involves

* Finding designers - the previous one is interested
* Finding people to colour and translate
* Figuring out the open process for request and review
* Coding any tools required for the process

You might also like to comment on a couple of other issues we have:
*  #32 new symbols requests
*

[2019-03-19 16:54] gavinhenderson commented on #25
@SteveALee This can be closed :+1:

Next time ill make sure one of my commits closes the issue

[2019-03-19 16:59] SteveALee commented on #25
Oops, I meant to alter the PR title.

[2019-03-19 16:59] SteveALee commented on #25
Fixed by #39

[2019-03-19 16:59] #25 closed

[2019-03-19 17:03] gavinhenderson commented on #36
Hey @SteveALee, what the next step from this?

Personally I see this spinning into different repos:

* One for symbol maintenance and distribution (via NPM)
* Another for a website/platform that uses the symbol package from NPM and makes them searchable as well as allowing a request for a new symbol (might open an issue on the first repo?)

[2019-03-19 17:32] SteveALee commented on #36
Thaks for asking  - I'll give it thought. Maybe have a chat next week?

Yes, the original single repo was a 'get it working quick' when only the symbols and a wep page.

I lean towards static hosting where possible, perhaps with serverless backend when required. ie JAMStack.

It would be useful to get better idea of how people will use them (#36) - eg NPM good for devs but not carers / SALTs.

[2019-03-20 01:59] josephoconnor commented on #36
My need is to load all of the symbols, individually tagged, into speech generating devices (SGDs). I don't know the file format. SGDs are self contained systems, not normally attached to a network. When the need comes to make a new button, all the symbols must be available.

For instance: first time I took my daughter to Ireland she asked for hot dog at breakfast. After some discrimination testing

[2019-03-20 14:59] SteveALee commented on #36
Thanks, @josephoconnor.

One Problem we face is there are no standards for meta data and "file" formats or indeed upload mechanics (USB dongle, wired connection, etc) .

Perhaps a job for the OpenAAC group or GlobalSymbols!

[2019-03-20 15:00] SteveALee commented on #36
We could start a database of symbol upload technologies and formats. though I guess many are proprietary

[2019-04-14 16:33] SteveALee opened #42 "Review phone symbols"
Technology has moved on and most people have smartphones rather than old "feature phones" tha tthe symbols use.

* Review if want all the existing old style mobiles phones or if they should be replaced
* Rename iphone to smartphone (ie could be Android)

[2019-05-10 11:58] eadraffan commented on #36
Thanks so much Steve for all the comments and work in this area and I have just made this a watched Github set of issues so I can keep track of it all.   Global Symbols needs to take all this very seriously as we move forward with linking more symbol lists, harmonisation/standardisation for AAC users and their supporters inc W3C WAI WCAG coga task force.   I am also on OpenAAC slack group so lets

[2019-10-10 12:12] neilt1700 commented on #41
Just wondering if there is a plan for developing new symbols. I would be keen to be involved if there is something to fit into.

I was having a conversation with a teacher who was previously an illustrator, and we were wondering whether there might be any scope for getting students on illustration degrees involved by having the creation of a quantity of symbols as a degree project.

[2019-10-11 11:35] shayc commented on #41
@neilt1700 I'm not sure if there are any plans on extending Mulberry Symbols (@SteveALee can better answer this - I'm not a maintainer).

Do you know about [Global Symbols](https://globalsymbols.com/)?

[2019-10-12 11:06] SteveALee commented on #41
@neilt1700 (thanks @shayc)

Thanks for asking! Yes, there is a general desire to expand the symbol set but no concrete plans yet.

There has been discussion with a commercial user of the symbols wanting some specific new symbols. The original designer has also expressed interest in providing more symbols. This has not evolved past the talk stage though.

I *love* the idea of student contribution a

[2019-10-12 11:25] eadraffan commented on #41
Dear All

I totally support Steve in this endeavour, as we desperately need a free and open licenced symbol set that is more suitable for adults.  It would be wonderful if this initiative happen.

I never normally advertise on a group such as this, but please may I mention that we have system available for voting on AAC symbol acceptance  https://globalsymbols.com/ and we are very happy to help wi

[2019-10-12 11:47] SteveALee commented on #41
Thanks EA - I'd say that's more an offer of help than an advertisement!

I hadn't realised the voting system was ready for use now. Brilliant and perfect!

[2019-10-14 11:37] neilt1700 commented on #41
(1) Style Guide
(2) Words List
(3) Funding

In order to make symbols development easier:

- Has the original style guide been found? Or can a new one be created?

- Is there a target words list for creating symbols?

To look at word coverage for symbol sets I have been comparing the words in these sets to:
- the top 5000 words in the Corpus of Contemporary American English (COCA) - plus a few extr

[2019-10-15 20:37] SteveALee commented on #41
@neilt1700 This is a quick placeholder repsonse to say thank you and I'll reply ASAP. but for now the "easy" one

My initial purpose was to save the symbols after the Straight-Street charity folded and Garry Paxton move don. I would love to encourage / support growth but was waiting to see what interest we got. It seems there is some. I work for myself as OpenDirective Ltd but did explore making i

[2019-10-16 08:33] SteveALee commented on #41
@neilt1700

I just asked again. We might need to creat a new one. Colours can be worked out but other features might be implicit.

*    Is there a target words list for creating symbols?

Not yet. The way it worked before was each iteration added symbols based on a requests. I agree this would a be a good thing to work on and I expect @eadraffan might have something from Global Symbols which is wo

[2019-10-18 08:32] neilt1700 commented on #41
That's a really useful link @eadraffan.

Symbols naming
I guess for automatic symbolising of text having grammatical markers is useful. I guess for trying to make websites more accessible that might be something. However to really make a chunk of text accessible it's much more preferable to select key words to symbolise which support the meaning - symbolising everything can mean you end up with a

[2020-04-16 09:37] gavinhenderson commented on #36
Is this feature still something that you are keen to start development on? Obviously we want to make sure we are putting together the right solution for the problem.

I have availability (and willingness!) to work on features for mulberry symbols so if there is any feature that you are really keen on getting work started on let me know

[2020-04-16 10:30] SteveALee commented on #36
@gavinhenderson It's great to hear from you again and you timing is good.

I've just been PMing someone using the symbols to create printed resources for people in ICU with CORVID19. Two things she mentioned that make it harder to use the symbols in software like Word or other symbol software are

1) Translation of names (to Greek)
2) Manual insertion

Both are mentioned in the intial decription o

[2020-04-16 13:08] Eliada21 commented on #36
Hello,

I believe there are some main questions that need consideration prior of deciding how to proceed:

1. Who are the users?
This questions was answered in another point, on February and the answer provided is (I have added some comments in a parenthesis):
- AAC developers
- SALTs (SLPs) - less technical - printing on boards or add to AAC tools (comment added: well I know many SLTs who use AAC

[2020-04-16 13:58] SteveALee commented on #36
@Eliada21 Thank you that is very helpful indeed

Yes they can! As the symbols are "open" anyone can actually create new symbols to extend the set. Thus there are more options to get new symbols. We'd love to get a style guide together to encourage this. See #32

There is free  and open source [cboard](https://www.cboard.io/) and free trial and open source [coughdrop](https://www.coughdrop.com/)

I

[2020-04-16 14:33] SteveALee commented on #36
One pretty concrete thing we could do if adding SVG's to Office docs is still a problem would be to provide other formats, eg png or jpeg.

I'm *very* reluctant to make them permanently available for download as these formats are resolution/size specific unlike SVG which scales beautifully.

Does a useful free bulk conversion tool already exist that we can point people to? If not perhaps we can ad

[2020-04-16 14:58] eadraffan commented on #36
You can also use [BoardBuilder](https://globalsymbols.com/boardbuilder/boardsets) with .pngs / .jpgs etc for making communication charts or boards.  All free with [instructions](https://training.globalsymbols.com/course/view.php?id=56#section-1)  and it allows you to save to other apps in obf/obz format that are mentioned on [OpenBoard format page](https://www.openboardformat.org/) as well as down

[2020-04-16 15:01] SteveALee commented on #36
Well I'm confused. I just tried adding some of the distributed SVG symbols to Word, PowerPoint, Writer and Impress and saw no problems. I used both Insert and drag and drop.

So are there issues I missed with my very simple test?

[2020-04-16 15:04] eadraffan commented on #36
Try a simple download and use paint or something that allows you to add a border in a colour to help with classification etc. PowerPoint is really good for this and takes anything but you are depending on Microsoft and high powered software that does miracles in the browser and anything!

From: Steve Lee [mailto:notifications@github.com]
Sent: 16 April 2020 16:02
To: mulberrysymbols/mulberry-symbo

[2020-04-16 15:22] SteveALee commented on #36
@eadraffan are you saying there is a problem with paint when you try to modify an image. That does not surprise me in the least as paint is specifically for raster images, not scalable ones like SVG. Use a SVG editor like InkScape. I can understand if that is an "app to far" for some people though. :)

I don't undertsand your comment about Powerpoint. Libre office is also powerful but free. Outloo

[2020-04-16 19:43] eadraffan commented on #36
Yes I have InkScape and use other open source apps, but you mentioned Word and PowerPoint etc in your previous comments. I find it is incredibly helpful to have a choice of symbol formats as they all have their plus points when used in different settings.  This is especially important when you want transparent backgrounds for colouring symbols to show parts of speech for use on communication chart

[2020-04-17 08:00] gavinhenderson commented on #36
Do we have any metrics on how people are accessing the symbols?

I currently don't think we have any user friendly way for users to browse the symbols and select one for download. Maybe the barrier to usage is there rather than getting them into word (or other tools)?

Current options to getting the symbols:
1. Downloading the zip, which then strips all category information and makes searching har

[2020-04-17 08:28] SteveALee commented on #36
No, hence saying we need to gather requirements. :) I'm talking to a few people but mor ecan be done to research. Adding metrics would be useful.

I agree it's likely to be a part of the issue to address (but again research would be great). We are tracking this in #31 where I see you mentioned FontAwesome. There is also the [noun project](https://thenounproject.com/) whic hmight have ways to selec

[2020-04-17 08:32] SteveALee commented on #36
Another thing we could do is provide a few templates for printing or use in AAC (eg in [Open Board Format](https://www.openboardformat.org/)).

For see example the PowerPoint/Impress board templates from the [CommuniKate project](https://github.com/eQualityTime/CommuniKate)

[2020-04-17 08:42] eadraffan commented on #36
I really love that idea as I have made lots on Cboard that are public but I could make more and put them on Global Symbols or anywhere you want.

[2020-04-17 09:14] eadraffan commented on #36
Do you mean you cannot download Mulberry Symbols individually as you can from Global Symbols? e.g. [acne spots download](https://globalsymbols.com/symbolsets/mulberry/symbols/3121?locale=en)
![acne spots](https://user-images.githubusercontent.com/743388/79553214-0e339c80-8094-11ea-9d12-e8b9c9493481.jpg)
or use them in an app or communication chart builder?

[2020-04-21 12:05] SteveALee commented on #36
I thought this is a good point to collect the various threads together after disussions with @Eliada21 and @eadraffan.  This should help frame the technical work, especially for @gavinhenderson.

The TLDR; (short version) is that there is burgeoning Open Symbols ecosystem and I want to position Mulberry as a part of that activity. Thus developments should not be Mulberry specific if they fit bette

[2020-04-21 19:44] gavinhenderson commented on #36
Sounds sensible to me. It definitely makes sense to make these changes in other parts of the ecosystems so all symbol sets benefit and we avoid further polluting the ecosystem with more fractured distribution methods.

It would also be great if GlobalSymbols and BuildBuilder to be managed as Open Source projects but as you mentioned I'm not sure how feasible that is? Have you got ideas how to make

[2020-04-22 14:03] SteveALee commented on #36
A little friendly lobbying of GlobalSymbols might help :) I'll add your vote!

The Open AAC project has a slack room - the invite link on the website seems down right now but the room is active.

[2020-04-22 14:30] SteveALee commented on #36
Here's the [open AAC slack channel](https://join.slack.com/t/openaac/shared_invite/enQtNTQwNDgwODYyNjU5LTAwODNmZjM4ZmJmOTJkYTY2MWZkNjc0MDQ0NTcwMTRmMzY0MWI3OWJiNGYwZGIzMzc2YTk2N2FiY2JlYTI5Njc)

[2020-04-29 09:10] SteveALee commented on #35
@gavinhenderson As GitHub recently opened up including actions and workflows this might be fully do-able now with just GitHub? Is this something you fancy looking at?

[2020-04-29 09:19] SteveALee commented on #30
Recently Global symbols added BoardBuilder and a translation tool. There is also work on vocabs and tooling for translation. Russel also asked how he should get the symbols (currently using  symbol-info CSV)

See my [blog post](https://opendirective.net/2020/04/17/the-open-communication-symbols-ecosystem/)

So eventually we could provide an API for notifiying of and supplying symbol updates to Glo

[2020-04-29 09:20] SteveALee commented on #31
It looks like this could be done in GlobalSymbols - see #30

[2020-04-29 09:22] SteveALee commented on #41
We could delegate to Global Symbols - see #30

[2020-04-29 09:22] SteveALee commented on #36
See also #30

[2020-04-29 09:30] SteveALee opened #51 "Add symbol-info.csv to releases and website"

[2020-05-01 17:04] neilt1700 commented on #30
There seems to be a problem with that link - SSL connection doesn't seem to be working properly.

[2020-05-01 17:42] SteveALee commented on #30
@neilt1700 you're the second person to have that issues. But it IS all configured correctly. It's served on GitHub Pages after all. Unless I can reproduce I'm a bit stuck :(

I this what you see
<pre>
This site can’t provide a secure connection

opendirective.net uses an unsupported protocol.

ERR_SSL_VERSION_OR_CIPHER_MISMATCH

Unsupported protocol

The client and server don't support a common SS

[2020-05-01 17:55] neilt1700 commented on #30
Yes that's the error. Using BT broadband - it fails with that error. Same problem on all browsers, however no error if I use the Tor Browser (still BT broadband). If I connect using a different Wi-Fi (Three) I don't get any errors from any browser.

[2020-05-01 18:27] SteveALee commented on #30
How bizarre! I'm on BT too (but FtP) and going via an extension disc with very latest HomeHub. I blame their firewall thingie. I raised a support request with Github anyway. I'll see if other user is also on BT

[2020-05-01 20:06] eadraffan commented on #30
No problems with Plusnet (using FF, Chrome or Edge).  The company is owned by BT, but different organisation.

[2020-05-02 16:54] SteveALee commented on #30
Seems to be a [long standing problem](https://community.bt.com/t5/BT-Fibre-broadband/quot-ERR-SSL-VERSION-OR-CIPHER-MISMATCH-Unsupported-protocol/m-p/1999167#M297832
) with their family protection filters giving a rubbish error for blocked sites.

Now I have to figure how to get white listed! Pathetic really.

[2020-05-05 06:57] neilt1700 commented on #30
Just wondering if it could be a DNS issue - could you try using a different domain name server? (we use DNS Made Easy - started using when we were on 123-REG a few years ago because of problems we had with them - including site not being available everywhere). Alternatively are you able to try serving it from a different host provider with a different IP address? Might rule out another potential s

[2020-05-05 07:54] SteveALee commented on #30
Interesting idea! DNS is indeed by 123reg but it's hosted on GitHub pages.

https://185.199.108.153/ errors with `NET::ERR_CERT_COMMON_NAME_INVALID`. but that might be GitHub. https://tools.dnsstuff.com/#dnsReport|type=domain&&value=opendirective.net takes forever, and that maybe a bad smell

I'll rummage a bit more in the DNS settings.

Maybe I'll move everything over to the excellent Krystal. Th

[2020-05-21 13:39] ha6000 commented on #51
Hey looks like this issue is already fixed. Mind closing it?

[2020-05-21 14:54] SteveALee commented on #51
Ha, thank you!

[2020-05-21 14:54] #51 closed

[2020-05-22 10:35] ha6000 opened #54 "Converted png files"
I converted all the symbols to png 500 by 500, and was just wondering if you are interested in having it, I converted it using my own script I created and svg2png if you want automated conversion we could add a github action but I am not sure if it can convert them all in the time limit. I might need to optimize my script a bit more to do that. If the resolution is too low I can convert them to hi

[2020-05-22 11:34] SteveALee commented on #54
@ha6000 thank you very much for the offer. I'd certainly be most interested in hosting or linking to your script.

I'm keeping to SVG releases of the symbols for a number of reasons

- SVGs are scalable so they look good at any resolution
- the SVG files are much smaller than raster images,
- SVG is finally getting solid support in many places the symbols are used.
- I want to encourge SVG use for

[2020-05-22 12:16] ha6000 commented on #54
I myself do not use them but a speech therapist I know wanted to use them for teaching material and she needed it in png format, so I converted for her. I do have a repo for the script but forgot to push my changes there. I will send link to it when I am done. The svg2png module I am using automatically detects the size it should be at, but one image failed because of that, so I decided to set it

[2020-05-22 12:18] ha6000 commented on #54
Also I was not thinking of replacing svg, I was more thinking of having it as a extra download option

[2020-05-22 12:40] ha6000 commented on #54
Here is the script https://github.com/ha6000/bulkSVGtoPNG

[2020-05-22 12:47] ha6000 commented on #54
I was also thinking of keeping the categories.html but display lower quality jpg version of the symbols and when you click on one it downloads the svg version of it

[2020-05-22 13:21] eadraffan commented on #54
Thank you so much for this update which is really exciting to learn about... Personally I would love the availability of as many formats as possible.  svgs and pngs with transparent backgrounds for communcation boards and web and jpgs for printing if the transparent background causes problems.  Some end up with black backgounds when downloaded or when used in certain simple image applications etc.

[2020-05-22 13:37] ha6000 commented on #54
I think all of mine worked out good. I have not yet seen any with black backgrounds.
![image](https://user-images.githubusercontent.com/47217028/82673424-23c35580-9c42-11ea-917c-a4621c8e69cb.png)

[2020-05-22 13:54] eadraffan commented on #54
Do you mean they all have transparent backgrounds,  but when I view them in Chrome they look as if they have black backgrounds! ;>)

[2020-05-22 14:29] SteveALee commented on #54
@ha6000

How can it? based on what? SVG has no prefered size? Unless it's using the width / height in the SVG.? eg 854.353 for A.

These are completely aribtrary and I don't know where they even came from - perhaps the original Adobe designer. This is an important point and I'll raise another issue to explore this. It could explain why the symbols often appear massive!

Yes I got that. I was plann

[2020-05-22 14:34] SteveALee opened #55 "What should AVG width & height be set to."
As raised in [another discussion](https://github.com/mulberrysymbols/mulberry-symbols/issues/54#issuecomment-632722154) #the current SVG size and coordinates are a mystery. I have no idea what they mean, otehr than probably set in the Adobe tool used to create them.

What would be the best values to use?

To change we'd need to process each symbol and asjust all the corrdinates. Or maybe use a Vie

[2020-05-22 14:38] ha6000 commented on #54
I actually did not know svg had a size? My guess it sets it to a size that most detail will be in there

[2020-05-22 14:40] ha6000 commented on #54
@eadraffan the black backgrounds might be created by chrome.

[2020-05-22 14:41] SteveALee commented on #54
@eadraffan @ha6000

So what tools require raster and still cannot use SVGs? I've been tryign to find out for ages #35

@eadraffan I know you mentioned MS paint before - but that is a raster tool so is expected - though there's no reason it could not convert SVG on import I guess. I just doesn't.. Could you not use Inkscape (now version 1) or otehr scalable graphic tool.

Also why would you want JP

[2020-05-22 14:44] ha6000 commented on #35
The reason I created the converter was for Microsoft word

[2020-05-22 14:44] SteveALee commented on #54
@ha6000 @eadraffan I'm not totally against providing additional formats again. But there needs to be a good reason. And we'd need to find the right resolution (singular -smile).

Otherwise it's somehtign else to manage - even wit ha proper automated CD/CR process which we can now easily do on GitHub.

[2020-05-22 14:47] ha6000 commented on #54
My reason for creating the converter was for Microsoft word

[2020-05-22 14:48] SteveALee commented on #54
@EA why not just use Powerpoint/impress to create charts Docs are printable at any size, they support SVG directly and have easy to use editing tools to create charts.

I'd exect therm to be almost ideal tools really. Joe Reddington and others use it. CommuniKate has templates

[2020-05-22 14:49] ha6000 commented on #35
I have some prior knowledge of github actions. I can maybe help out here. We could use your generator scripts and just upload them with this action https://github.com/marketplace/actions/upload-a-release-asset

[2020-05-22 15:00] SteveALee commented on #54
Oh, I was sure it supports SVG now (can't test on this PC). If not shame on Microsoft!!

PowerPoint definitely does! Libre Office Writer does too.

[2020-05-22 15:10] yatil commented on #54
For what it’s worth Word had no issues to use SVG in the latest version on my Mac.

[2020-05-22 15:12] ha6000 commented on #54
Could be that the version I tested on does not support svg yet.

[2020-05-22 15:21] SteveALee commented on #54
Hey @yatil it's wonderfull to see you here! Thanks for the input and confermation I was not imagining it :)

@ha6000 - it could be. I think they stopped updating at 2016 (which I have via MSDN) and now push everyone to use O365. For fun, I just tried the free outlook.com but that failed to accept SVG - but then it's old and a freebie.

[2020-05-22 15:32] ha6000 commented on #35
Got the bare bones out of the way, just need to actually upload it
https://github.com/ha6000/mulberry-symbols/blob/master/.github/workflows/build.yml

[2020-05-25 14:29] ha6000 commented on #35
I successfully were able to upload the zip, now just the rest,

[2020-05-25 16:02] ha6000 commented on #35
I am able to upload all the files that is in the root directory, but everything in categories/* I am unable to  add. From my research the module I am using, uses this https://www.npmjs.com/package/glob for globs. I can upload the categories in a second step.

[2020-05-25 16:07] ha6000 commented on #35
If you ignore the fact that it uploads categories separate, it works.

[2020-05-25 19:00] SteveALee commented on #35
@ha6000 thanks for PR #56. Great work!

I'll test it out ASAP but am not sure how to actually do that without running it against a live repro. I guess I can clone and run as the workflow doesn't ref the repo explicitally so should work in any.

Does it matter that the second set of files are added separately? Don't we still end up with a single release with all the correct files?

I think the vers

[2020-05-25 19:03] ha6000 commented on #35
Yes, I am pretty sure we end up with same results, just everything does not get uploaded at the same time.

[2020-05-25 19:22] ha6000 commented on #35
I also said I was going to use https://github.com/marketplace/actions/upload-a-release-asset but they needed some upload url. And I am not sure how to get it from the github.ref so I decided to use that other one

[2020-05-28 12:34] SteveALee opened #57 "Need a Style Guide"
We need a style guide for the symbols so others can easily create symbols that fit.

For information Widget have a [Symbol Schema](https://www.widgit.com/about-symbols/schema/index.htm)

[2020-06-05 08:15] eadraffan commented on #54
I am beginning to feel that what we really need is a 'guidance doc' for those of us trying to use any symbol image formats!  Lets keep SVG as the essential one for all symbols as Steve suggests.  Then we can provide guidance about the tools on offer, not just for conversions but also chart building, such as Powerpoint with or without the [Commtap Symboliser for PowerPoint](https://symboliser.commt

[2020-06-05 08:46] SteveALee commented on #54
@eadraffan that's a great idea. It would be so useful tobetter  know the actuall requirements in terms of objectives and tools etc. That's why I had #36 open trying to understand user needs. I just worded it badly (from the project point of view, not users).

Yes please! Could you supply some **common** use cases including tools? The more the better. Perhaps indicate the open/proprietary status. E

[2020-06-05 08:59] eadraffan commented on #54
Can you please expand on what you mean by 'requirements in terms of objectives and tools' and I will try to add this to each project, tool or piece of code mentioned!    If it is requirements related to something like Boardbuilder please let us know!

[2020-06-05 11:17] SteveALee commented on #54
Somehting like
- Using PowerPoint (local or O365) to create a printable chart
  - All symbols downloaded and available locally
    - up to user to manage versions of symbol set
  - add individual symbol (browse to it)
  - symbol can be SVG
- using BoardBuilder
 - Select symbol to add
   - App use Google Symbols API to find, select and fetch symbol
   - Global Symbols has a copy of all the symbols

[2020-06-09 10:53] eadraffan commented on #54
Many thanks.  I am afraid ICCHP papers come first but I will get it done!  Keep reminding me!

[2020-06-24 14:59] SteveALee opened #58 "Requested symbols"
Pronouns

- You
- We
- He
- She
- They, etc

[2020-06-24 15:47] eadraffan commented on #58
This is hopefully something we can help with if we get our Symbol Creator working again, but I am not sure whether this works for you?  I think it is important to keep the style for some AAC users - by that I mean the look and feel!
![you](https://user-images.githubusercontent.com/743388/85588043-3adad600-b63a-11ea-812f-5535e926803b.png)

[2020-06-24 17:24] SteveALee commented on #58
Thanks @eadraffan . Yes I think it works, but maybe an improvement would be to somehome highlight the hand is another persons so it's not "me" or "I". Then move the hand to look like I?

I do hope the symbol editor can be got working again as compound Symbols could be a new source of symbols. We'd need SVG source though.

[2020-06-26 10:29] eadraffan commented on #58
Yes they do need to be svg and I agree with all you say about angles and other skin tones etc!

[2020-07-09 12:23] SteveALee opened #59 "Community contribution from DART"
...

[2020-09-21 15:00] SteveALee opened #60 "Support Custom PDF file generation"
Specific Request for Ruby:

* A subset of symbols
* French labels
* Each categories starts on new page
* Larger text

To implement this:
- [ ] new French translation file - French and forRuby columns
- [ ] parameter-ise the mkPDF script - language, subset, layout (catagories on new page)
- [ ] update build process
- [ ] make available for download

[2020-09-22 18:16] eadraffan commented on #60
Please may we add any French translations as additional labels to the Mulberry Symbol set on Global Symbols?  This can be done directly on the page for each symbol or as an excel spreadsheet via an upload to the database.

[2020-09-22 19:15] SteveALee commented on #60
Thanks. I sent ruby a version of https://github.com/mulberrysymbols/mulberry-symbols/blob/master/symbol-info.csv so she had all the info.

This provides a little more context for her but I am happy to provide her results to you in your Global Symbols format if you provide me the spreadsheet :)

Also happy to standardise Global Symbols translation sheet format if it helps. Note both the the symbol

[2021-03-23 10:04] eadraffan commented on #57
I have been working on the style guide by going through all the symbol styles for design as well as for what is missing and one issue that is coming up is the thickness of lines that appear to vary - large single body parts such as 'arm' has a 10.5pt outline whereas the head has 15.75pt and the presposition black boxes are 21pt etc.

Regarding colour the 'above' preposition has a dotted box with R

[2021-03-23 10:11] eadraffan commented on #58
Here are some missing prepositions (some used as adverbs) and conjunctions.  Options from ARSAAC and Bliss given as examples in places.
[Mulberry Symbols missing Prepositions23032021.docx](https://github.com/mulberrysymbols/mulberry-symbols/files/6188588/Mulberry.Symbols.missing.Prepositions23032021.docx)

[2021-03-23 11:08] eadraffan commented on #58
Here are the Personal Pronouns for English with an example from ARASAAC.  I have also added a table for French and Arabic pronouns, so we remember differences in other languages.  Questions to be answered - do we use a face that can be used for male and female where relevant?  We know stick figures do not suit everyone and are not part of the Mulberrry set.  What thickness of outline do we use for

[2021-03-23 11:34] eadraffan commented on #58
Here is a Word doc with some sample gaps in the verbs and many are uncategorised and best viewed on the web page of categories. These are complex symbols, but there are some good examples of bodies with blank faces carrying out the actions - do these allow us to avoid having to think about gender options?
 https://github.com/mulberrysymbols/mulberry-symbols/releases/latest/download/categories.html

[2021-04-15 13:19] eadraffan commented on #57
Here is the latest attempt at examining the colours used for the Mulberry symbols along with some of the categories and missing symbols.
[Mulberry Symbols schema examples1.docx](https://github.com/mulberrysymbols/mulberry-symbols/files/6318278/Mulberry.Symbols.schema.examples1.docx)

[2021-09-02 13:31] SteveALee opened #62 "Support customisation of symbols"
## Requirements

For now just changing colours of elements. Stretch goal more substantial, including aggregation of parts to make new symbols.

## Options

- build - Templated and build - most flexible but complex workflow
- CSS stylesheet referenced from the SVG  - runtime, might need IDs to select all parts
- CSS classes in SVG styled  in using context - add classnames  to SVG - restricted class

[2021-09-03 14:25] rusnewman commented on #62
I've prototyped an approach that allows dynamic colouring of elements in the SVGs. This uses the third option of writing classes directly into the SVG files and styling them with standard, flexible CSS techniques.

### Class Name Convention
The general structure of the class is `aac-[feature]-[target-attribute]`.

- Prefixed `aac-` to help avoid class clashes.
- `[feature]` is the object that can

[2021-11-15 17:49] SteveALee opened #64 "Catagory HTML now built with missing index text"
![image](https://user-images.githubusercontent.com/618922/141829904-b0f2960c-5571-43e2-82e7-6dfa57871b25.png)

[2021-11-15 19:30] #64 closed

[2021-11-15 19:38] #62 closed

[2021-11-15 19:41] SteveALee opened #66 "Add example showing CSS customisation"
See #62

[2021-11-15 20:36] SteveALee opened #67 "Add finish version of categories pdf"
Also clean up csv files and generation from them as has got a bit messy

[2021-11-15 20:36] SteveALee commented on #66
@rusnewman might provide this

[2022-05-02 09:45] SteveALee opened #69 "Australia flag appears to be missing"
Reported by Allana.

Australia as a country isn’t included at all and neither is the Australian Flag.

Ensure Tasmania is included on any country map.